@import url(https://fonts.googleapis.com/css?family=Exo+2);

body {
	background-color: #D0D0D0;
	font-family: "Exo 2";
	text-align: center;
	margin-top: 50px;
}

.jumbotron {
	h1 {
		font-size: 10vw;
	}
	h2 {
		font-size: 6em;
	}
	h3 {
		font-size: 3em;
	}
}

p {
	font-size: 2em;
}

.jumbotron {
	min-height: 100vh;
	padding-top: 40px;
	padding: 10px;
}

.page1 {
	background-color: white;
}

.page2 {
	background-color: #D0D0D0;
}

.row {
	max-width: 100%;
}

.project {
	padding: 5px;
	border: 1px solid black;
	border-radius: 10px;
	min-height: 200px;
	box-shadow: 2px 4px;
}

a > i {
	margin-right: 10px;
	margin-left: 10px;
	color: #333;
	&:hover {
		color: #db5461;
	}
}

ul.nav {
	color: #D0D0D0;
	a {
		color: white !important;
		font-size: 1.25em;
		&:hover {
			color: #db5461 !important;
		}
	}
}

a.navbar-brand:hover {
	color: #db5461 !important;
}

.navbar {
	background-color: #283044;
	border: 0px;
	a.navbar-brand {
		font-size: 1.7em;
		color: white;
	}
}