@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
	background-color: #D0D0D0;
	text-align: center !important;
}

.jumbotron h1 {
	font-family: "Exo 2", sans-serif;
	font-size: 8em;
}

.jumbotron h2 {
	font-size: 4em;
	font-family: "Exo 2", sans-serif;
}

.jumbotron h3 {
	font-size: 3em;
	font-family: "Exo 2", sans-serif;
}

p {
	font-size: 2em;
}

.jumbotron {
	min-height: 100vh;
	padding: 10px;
}

.page1 {
	background-color: #FFF;
}

.page2 {
	background-color: #D0D0D0;
}

.row {
	max-width: 100%;
}

.project {
	padding: 5px;
	border: 1px solid black;
	border-radius: 10px;
	min-height: 200px;
	box-shadow: 2px 4px;
}

a > i {
	margin-right: 10px;
	margin-left: 10px;
	color: #333;
}

a > i:hover {
	color: #db5461;
}

ul.nav {
	color: #D0D0D0;
}

ul.nav a {
	color: white !important;
	font-size: 1.25em;
}

ul.nav a:hover {
	color: #db5461 !important;
}

a.navbar-brand:hover {
	color: #db5461 !important;
}

.navbar {
	background-color: #283044;
	border: 0px;
}

.navbar a.navbar-brand {
	font-family: "Exo 2", sans-serif;
	font-size: 1.7em;
	color: white;
}

.mainlist {
	list-style-type: none;
}

.mainlist li {
	font-size: 2em;
	font-style: italic;
}

.iconlink {
	margin: 1%;
}